body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
}

h2 {
    color: rgb(0, 4, 255);
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
    text-align: center; 
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 20%; 
    margin: 0 auto; 
}

input[type="number"] {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 4%;
    margin: 0 auto; 
}

button {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 5%;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dee2e6;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e2e6ea;
}

td:last-child {
    font-weight: bold;
}

td.aprovado {
    color: green;
}

td.reprovado {
    color: red;
}
